################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SkillForge

# Ignore Visual Studio cache files
.vs/
.vscode/

# Ignore build outputs
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.log

# Ignore NuGet packages (optional if using restore)
*.nupkg
/SkillForge.Application/obj/Debug/net8.0/SkillForge.Application.AssemblyInfo.cs
/SkillForge.Application/obj/Debug/net8.0/SkillForge.Application.AssemblyInfoInputs.cache
/SkillForge.Domain/obj/Debug/net8.0/SkillForge.Domain.AssemblyInfoInputs.cache
/SkillForge.Domain/obj/Debug/net8.0/SkillForge.Domain.AssemblyInfo.cs
/SkillForge.Application/obj/Debug/net8.0/SkillForge.Application.AssemblyInfoInputs.cache
/SkillForge.Application/obj/Debug/net8.0/SkillForge.Application.AssemblyInfo.cs
/SkillForge.Domain/obj/Debug/net8.0/SkillForge.Domain.AssemblyInfo.cs
/SkillForge.Domain/obj/Debug/net8.0/SkillForge.Domain.AssemblyInfoInputs.cache
/SkillForge.API/obj/Debug/net8.0/SkillForge.API.AssemblyInfo.cs
/SkillForge.API/obj/Debug/net8.0/SkillForge.API.AssemblyInfoInputs.cache
/SkillForge.API/obj/Debug/net8.0/SkillForge.API.assets.cache
/SkillForge.API/obj/Debug/net8.0/SkillForge.API.csproj.AssemblyReference.cache
/SkillForge.API/obj/project.assets.json
/SkillForge.API/obj/project.nuget.cache
/SkillForge.API/obj/SkillForge.API.csproj.nuget.dgspec.json
/SkillForge.API/obj/SkillForge.API.csproj.nuget.g.props
/SkillForge.API/obj/SkillForge.API.csproj.nuget.g.targets
/SkillForge.Infrastructure/obj/Debug/net8.0/SkillForge.Infrastructure.AssemblyInfo.cs
/SkillForge.Infrastructure/obj/Debug/net8.0/SkillForge.Infrastructure.AssemblyInfoInputs.cache
/SkillForge.Infrastructure/obj/Debug/net8.0/SkillForge.Infrastructure.assets.cache
/SkillForge.Infrastructure/obj/Debug/net8.0/SkillForge.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/SkillForge.Infrastructure/obj/Debug/net8.0/SkillForge.Infrastructure.csproj.AssemblyReference.cache
/SkillForge.Infrastructure/obj/project.assets.json
/SkillForge.Infrastructure/obj/project.nuget.cache
/SkillForge.Infrastructure/obj/SkillForge.Infrastructure.csproj.nuget.dgspec.json
/SkillForge.Infrastructure/obj/SkillForge.Infrastructure.csproj.nuget.g.props
/SkillForge.Infrastructure/obj/SkillForge.Infrastructure.csproj.nuget.g.targets
